/.ipynb_checkpoints
/Amadora.qgz
/Amadora_v2.qgz
/CountMappilaryByffers.geojson
/Crhis_help.ipynb
/Extact_Geojon.ipynb
/ExtractDataMapillary.ipynb
/ExtractWeb
/LimiteAmadora.geojson
/LimiteAmadora_QGIs.geojson
/LimiteAmadora_v2.json
/LimiteAmadora_v3.geojson
/LimiteConcelhoAmadora.kmz
/MapLimiteAmadora.pptx
/map_feature_points_in_bbox_1.json
/map_feature_points_in_bbox_Amadora.json
/map_feature_points_in_bbox_Amadora1.json
/map_feature_points_in_bbox_Amadora1_19_10_22.json
/map_feature_points_in_bbox_Amadora1_21_11_22.json
/map_feature_points_in_bbox_AmadoraMN.json
/map_feature_points_in_bbox_AmadoraMN_19_10_22.json
/map_feature_points_in_bbox_AmadoraMN_21_10_11.json
/map_feature_points_in_bbox_USA.json
/mydata.geojson
/mydata_20000.geojson
/testes
/Untitled.ipynb